html {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*Header*/

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    min-height: 80px;
    background-color: #213B7E;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.menu-site {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-site > li {
    display:flex;
    flex-wrap: wrap;
}

.menu-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    font-weight: 400;
    font-size: 20px;
    background-color: #213B7E;
    color: #FFFFFF;
    text-decoration-line: underline;
    width: 113px;
    height: 80px;
}

.menu-title:hover {
    background-color: #FFFFFF;
    color:#213B7E;
    text-decoration-line: none;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 153px;
    min-height: 50px;
    font-size: 18px;
    font-weight: 400;
    top: 15px;
    width: 100%;
    background-color: #EA5D21;
    color: #FFFFFF;
}

/*Popup*/

.login-popup {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: #FFFFFF;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    transform: translate(-50%, -78%);
}

.login-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form > input {
    width: 100%;
    max-width: 500px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.login-input {
    width: 444px;
    min-height: 55px;
    color:#808080;
    font-size: 24px;
    line-height: 28px;
    background-color: #FFFFFF;
    padding: 10px;
}

.login-password {
    width: 444px;
    color:#808080;
    font-size: 24px;
    line-height: 28px;
    background-color: #FFFFFF;
    padding: 10px;
    min-height: 55px;
}

.popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    background: #EA6113;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.active-link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.show-popup {
    display: block;
}

.close-popup {
    height: 25px;
    width: 25px;
    top: -15px;
    right: -15px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

/*Main*/
.main {
    max-width: 911px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;
 }

.pic {
    width:100%;
    max-width: 523px;
    height: 316px;
 }

.main-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    max-width: 911px;
    width: 100%;
 }

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
 }

#course-title {
    margin-bottom: 0px;
}

.intro-text {
    display: flex;
    flex-wrap: wrap;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align:justify;
    font-weight: 400;
    font-size: 18px;
    max-width: 634px;
    width: 100%;
}

span {
    white-space: nowrap;
}

em {
    color: #CF5510;
}

.study-together {
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    color: #646464;
}
/*Students*/

.students {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1200px;
    margin-top: 24px;
    width: 100%;
}
 .student-profile {
    padding-left: 50px;
 }

.student-photo {
    width: 200px;
    height: 270px;
}

.student-name {
    display: block;
    text-align: center;
}

.my-name {
    display: block;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.newbie {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #3AA828;
    text-decoration: none;
    top: -334px;
    left: 116px;
    position: relative;
    padding: 2px 6px 2px;
    border-radius: 20px;
}

/*About me*/

td {
    font-weight: bold; 
    border: 1px solid #000000;
 }
 
.table-info {
     border: 2px solid #000000;
     border-collapse: collapse;

 } 

 .center-pic {
     width: 500px;
     height: auto;
     margin: auto;
     float: right;
 }

 .dramas {
    margin-bottom: -15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    max-width: 634px;
    width: 100%;
}

.drama-list {
    font-style: italic;
}

.my-photo {
    width: 280px;
    height: 372px;
    float: right;
    margin: 0 0 5px 10px;
}

/*About*/

.video-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.iframe-video {
    height: 0;
    padding-bottom: 56.2%;
    position: relative;
    margin-bottom: 50px;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
}

/*Contacts*/
.contacts-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    max-width: 911px;
    width: 100%;
    margin-left: 200px;
}

.map {
    height: 370px;
    max-width: 1268px;
    width: 100%;
    padding: 0 auto;
    border: 0;
}

.phone-info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align:justify;
    font-weight: 400;
    font-size: 18px;
    max-width: 634px;
    width: 100%;
    text-decoration: underline;
    margin-top: 24px;
    margin-bottom: 50px;
}

.main-contacts {
    max-width: 1268px;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

/*Footer*/

.footer {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    min-height: 60px;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #213B7E;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.site-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration-line: underline;
}

@media (max-width: 1000px) {
    .students {
        flex-wrap: wrap;
    }
}
 